@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import 'variables.css';

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
}

/* Base style */

body {
    background-color: white;
    font-size: clamp(48px, 2vw, 64px);
    font-family: 'Red Hat Display';
    width: 100vw;
}

.portraits-left, .portraits-right {
    display: none;
}

/* Logo */

header {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;

}

/* Reusable styles */

.btn {
    all: unset;
    color: white;
    border-radius: 29px;

    font-size: 0.281em;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 0;

    padding: 16px 40px;
}

.bg-cyan {
    background-color: var(--cyan-600);
}

.bg-cyan span {
    color: var(--cyan-300)
}

.bg-cyan:hover {
    background-color: var(--cyan-hover);
    cursor: pointer;
}

.bg-purple {
    background-color: var(--purple-600);
}

.bg-purple span {
    color: var(--purple-300);
}

.bg-purple:hover {
    background-color: var(--purple-hover);
    cursor: pointer;
}

/* Section styles */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    overflow: hidden;
    padding-bottom: 1em;
}

/* Specific styles */

/* Containers */

.portraits-container {
    display: flex;
    justify-content: center;
    scale: 1.1;
    padding: 10px;
}

.hero-text-content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 72px;
    gap: 24px;
    padding-left: 32px;
    padding-right: 32px;
}

.value-text-content {
    padding-top: 1em;
}

.cta-text-content {
    z-index: 100;
    padding: 0 0.5em;
}

/* END Containers */

.portraits-mobile {
    min-width: 100vw;
}

.btn-group {
    display: block;
}

.value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 1em;
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-image: url('https://whiteriver-dev.github.io/meet-landing-page/assets/mobile/image-footer.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: 100px;
    position: relative;

    overflow-y: hidden;;

    padding-bottom: 1em;
}

.cta::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cyan-600);
    opacity: 0.85;
    top: 100px;
}

.page-number-1 {
    margin: 0 auto;
    padding-bottom: 64px;
}

.value-image-style {
    border-radius: 8px;
}



/* Text styling */

.hero__header {
    color: var(--slate-900);
    overflow-y: hidden;
    max-width: 448px;
    margin: 0 auto;
}

.hero__description {
    color: var(--slate-600);
    overflow-y: hidden;
    max-width: 448px;
    margin: 0 auto;
}

.value__subheader {
    color: var(--cyan-600);
    letter-spacing: 4px;
    overflow-y:hidden;
}

.value__header {
    font-size: 0.75em;
    color: var(--slate-900);
    padding: 0.25em 0.25em;
}

.value__description {
    color: var(--slate-600);
    line-height: 1.5;
    font-size: 0.30em;
    padding: 0 3em;
    padding-top: 0.5em;
}

.cta__header {
    color: white;
    overflow-y: hidden;
    padding-top: 0.5em;
}

.cta__description {
    color: white;
    line-height: 1.5;
    padding: 0 1.5em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    font-size: 0.35em;
}

/* END Text styling */



/* Grid assignments */

.value-images-container {
    display: grid;
    grid-template-columns: repeat(autofit);
    gap: 0.25em;
    padding: 0 0.5em;
}

#value-image-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#value-image-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#value-image-3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#value-image-4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}


/* Tablet specific styles */

@media screen and (min-width: 768px) {

    /* Footer image adjustment */
    .cta {
        background-image: url('https://whiteriver-dev.github.io/meet-landing-page/assets/tablet/image-footer.jpg')
    }


    /* Grid assignments */

    .value-images-container {
        grid-template-columns: repeat(4, autofit);
        gap: 0.5em;
        padding: 0 1em;
    }
    
    #value-image-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    #value-image-2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    #value-image-3 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    
    #value-image-4 {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }

    /* Margins/paddings */

    .value-text-content {
        margin: 0 20%;
    }

    .cta-text-content {
        margin: 0 10%;
    }
}

@media screen and (min-width: 1024px) {

    body {
        font-size: 64px;
    }

    header {
        margin-top: 1.25em;
    }

        /* Footer image adjustment */
        .cta {
            background-image: url('https://whiteriver-dev.github.io/meet-landing-page/assets/desktop/image-footer.jpg');
            background-position: center top 100px;
        }

        /* Portraits image adjustment */
        .portraits-mobile {
            display: none;
        }

        .portraits-left, .portraits-right {
            display: block;
            position: absolute;
        }

        .portraits-right {
            left: 75%;
            scale: 1.1;
        }

        .portraits-left {
            right: 75%;
            scale: 1.1;
        }

        .hero {
            flex-direction: row;
            align-items: center;
            justify-content: center;;
            position: relative;
        }

        .hero-text-content {
            padding: 0 10%;
        }

        .value-images-container {
            margin: 0 5%;
        }

        .value__header {
            margin: 0 18%;
        }

        .value__subheader {
            font-size: 0.4em;
        }

        .value__description {
            margin: 0 8%;
        }

        .cta-text-content {
            margin: 0;
        }

        .cta-text-content-2 {
            display: flex;
            font-size: clamp(0.6em, 2vw, 1em);
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
            gap: 5%;
            margin: 0.25em 2em;

        }

        .cta__description {
            max-width: 355px;
            font-size: 0.3em;
        }

        .cta-text-content-2 .btn {
            width: 100%;
        }
 }