/* Custom Variables */

:root {
    

/* COLOURS */

    /* Cyan */
    --cyan-600: #4D96A9;
    --cyan-300: #8FE3F9;

    /* Purple */
    --purple-600: #855FB1;
    --purple-300: #D9B8FF;

    /* Slate */
    --slate-900: #28283D;
    --slate-600: #87879D;
    --slate-300: #D1D1DF;

/* SPACING */

    --spacing-1400: 112px;
    --spacing-1000: 80px;
    --spacing-900: 72px;
    --spacing-800: 64px;
    --spacing-700: 56px;
    --spacing-500: 40px;
    --spacing-400: 32px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-100: 9px;
    --spacing-50: 4px;

}


/* TEXT PRESETS */

.text-preset-1 {
    font-size: 1em;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: 0;
}

.text-preset-2 {
    font-size: 0.625em;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: 0;
}

.text-prseet-3 {
    font-size: 0.25em;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: 4px;
}

.text-preset-4 {
    font-size: 0.281em;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0;
}

